.parallax-banner-nossosbarbers {
    background-image: url('../img/barber_all.jpg');
    background-position: center;
    background-size: cover;
    height: 70vh;
}

.texto {
    padding: 300px;
}

.texto h2 {
    color: #fff;
}

.nossos-barbers {
    background-color: #ffffff;
    padding: 50px 0;
}

.container-titulo h3 {
    color: #000000;
    font-size: 32px;
    font-weight: 700;
}

.container-barbers {
    display: flex;
    justify-content: center;
    padding: 30px 20px;
    gap: 20px;
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container-barbers img {
    width: 250px;
}       

.card {
    padding: 10px 20px;
}

.card:hover {
    border-radius: 6px;
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}